auto_mix_prep==0.2.0
dtaidistance==2.3.11
einops==0.8.0
extensions==0.4
linear_attention_transformer==0.19.1
matplotlib==3.7.5
numpy==1.23.5
opt_einsum==3.3.0
pandas==2.0.3
pykeops==2.2.3
pytorch_lightning==2.2.0.post0
PyYAML==6.0.2
scikit_learn==1.3.2
scipy==1.14.1
similaritymeasures==1.1.0
torch==2.1.2+cu121
tqdm==4.66.1
